body {
    background: #0f0f0f;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: pink;
}

video {
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

a {
    color: pink;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}
